@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2E2E2E;
  --secondary: #F7F7F7;
  --accent: #FF4D00;
}

.animate-slideIn {
  animation: slideIn 0.5s ease-out;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}